doctype html
html
    head
        title Quality Bot
        link(rel= "stylesheet" href= "/static/css/dashboard.css")
        link(rel= "stylesheet" href="/static/css/topbar.css")
        link(rel= "stylesheet" href="/static/css/footer.css")
        block style
    body
        include global/topbar.pug
        .content
            .sidebar
                #guilds
                    each guild in adminGuilds
                        a(class= `guildSelector${guild.id == guildID ? " currentGuild" : ""}` href= `/dashboard/${guild.id}/null`)
                            if guild.icon
                                img(src= `https://cdn.discordapp.com/icons/${guild.id}/${guild.icon}.webp?size=128` width='50px', height='50px')
                            =guild.name
                #addGuild
                    a(class="guildSelector" href="https://discordapp.com/api/oauth2/authorize?client_id=520769818870415380&scope=bot&permissions=8" target="_blank") 
                        img(src="/static/images/discord.png" width='50px' height='50px')
                        ="Add A Discord"
            .main
                .saveBar
                    h1(class= "pluginName")= pluginSlug == "null" ? "Plugins" : pluginSlug
                    .description
                        block description
                    input(id= "reset" type= "button" onclick= "location.reload()" value= "reset")
                    input(id= "submit" type= "submit" form= "pluginContent" value= "Apply")
                    div
                form(id= "pluginContent" class= "pluginContent" method= "post")
                    block pluginContent
                    .commands
                        each command in Object.keys(pluginData.aliases)
                            .command(id= command)
                                h2= command
                                .aliases Aliases
                                    each alias in pluginData.aliases[command]
                                        .input 
                                            input(class="alias" type= "text" name= `${command}.aliases` value= alias data-lpignore="true")
                                            input(type= "button" class= "button" value="x" onclick="this.parentNode.remove()")
                                    .input(class="newAlias")
                                        input(class= "alias" type= "text" name= `${command}.aliases` data-lpignore="true")
                                        input(type= "button" class= "button" value="+" onclick=`newAlias('${command}', this)`)
                                .perms Perms
                                    each perm in pluginData.perms[command].filter(e => Object.keys(pluginData.roles).includes(e))
                                        .input
                                            input(class= "perm" type="text" name= `${command}.perms` list="roles" value= `@${pluginData.roles[perm].name.replace('@', '')}` data-lpignore="true")
                                            input(type= "button" class= "button" value="x" onclick="this.parentNode.remove()")
                                    .input
                                        input(class= "perm" type="text" name= `${command}.perms` list="roles" data-lpignore="true")
                                        input(type= "button" class= "button" value="+" onclick=`newPerm('${command}', this)`)
                            datalist(id= "roles")
                                each role, id in pluginData.roles
                                    option(style=`#${role.color}`)= `@${role.name.replace('@', '')}`
        include global/footer.pug
        script(src= "/static/js/dashboard.js")
